body
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', sans-serif
  color: #86a5b1
  background-color: #2f3241
  font-size: 14px

a
  font-weight: bold
  cursor: pointer
  text-decoration: none
  outline: none

a:hover
  border-bottom: 1px solid

.sb-padding
  padding: .5em

  &.dense
    padding: .25em

.sb-container
  flex-grow: 1
  max-width: 40em