<script setup>
import GraphSummary from "@renderer/components/GraphSummary.vue";
import { onMounted } from "vue";

onMounted(() => {});
</script>
<template>
  <graph-summary />
</template>
<style lang="sass" scoped></style>
