<script setup>
import StatSummary from "@renderer/components/StatSummary.vue";
</script>
<template>
  <n-flex vertical>
    <n-h1>Statistiques</n-h1>
    <stat-summary />
  </n-flex>
</template>
<style lang="sass" scoped></style>
